.header{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #000000a5;
    position: fixed;
    
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.All{
    background: black;
    
}


#JSNav{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 80vh;
    background: #0000007b;
    backdrop-filter: blur( 8px);
    z-index: 90;
    overflow: hidden;
    animation: show 2s forwards;
   
}

.hide{
    animation: Hidenav 2s;
}


@keyframes show {
    from{
        height: 0vh;
    }
    
    to{
        height: 80vh;
        
    }
}




@keyframes Hidenav {
    from{
        height: 75vh;
    }
    
    to{
        height: 0vh;
        display: none;
    }
}





.JSNav a{
    text-decoration: none;
    color: white;
    font-size: 3vh;
    margin: 5vh;
    text-transform: uppercase;
    transition: all .4s;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    
}

.JSNav a:hover{
    color: red;
    letter-spacing: 10px;
}


.JSNav a::after{
    content: "";
    position: relative;
    width: 100vw;
    height: 1vh;
    background: white;
}

@keyframes nav {
    from{
        height: 0vh;
    }
    
    to{
        height: 75vh;
    }
}







#logo{
    padding: 2vh 4vw;
    width: 30vw;
    height: auto;
}

nav{
    color: red;
    padding: 2vh 6vw;
}

.header nav a{
    
    color: red;
    
}



.ImgHostel{
    width: 100vw;
    height: 33vh;
    background: lightcyan;
}


.container{
    width: 100vw;
    height: auto;
    
    
}

.container .title{
    padding: 7%;
    background: black;
}

.line{
    width: 90%;
    height: ;
    border: 1px solid black;
    margin: auto;
}

.list img{
    padding-top: 5vh;
}

.container h1{
    display: inline-block;
    padding-bottom: 1%;
    padding-right: 3%;
    border-bottom: 2px solid red;
    text-transform: uppercase;
    font-size: 4vw;
    color: red;
    text-shadow: 0px 0px 100px #000000c3;
} 

.textHostel{
    width: 90vw;
    height: 60vh;
    border: 1px solid black;
    font-size: 1vh;
    margin: auto;
    color: white;
    margin-top: 4vh;
    text-align: justify;
}

.TextTwo{
    padding-left: 10%;
    padding-top: 10%;
    
}

.TextTwo ul ul{
    padding-left: 5%;
    padding-top: 3%;
}


li{
    padding: 0%;
}

.add{
    
}

.add ul{
    padding-left: 10%;
    padding-top: 10%;
    font-size: 3vw;
}

.add h1{
    display: inline-block;
    border-bottom: 2px solid red;
    padding-left: 10%;
    padding-top: 10%;
}

     
.table{
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
}
        table {
            width: 100%;
            height: 30vh;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: red;
            color: white;
        }

        td {
            font-weight: bold;
            color: white;
            
        }
        
        .list{
            background: black;
            color: white;
            padding: 10%;
            padding-top: 0%;
        }
        
        .hfLink a{
            text-decoration: none;
            padding: 5% 7%;
            
            border: 1px solid white;
            color: white;
            position: relative;
            border-radius: 50px;
            padding-top: 5%;
        }
        
        .hfLink{
            width: 100vw;
            
            background: black;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .list h2{
            margin-bottom: 6%;
            padding-bottom: 1%;
            padding-left: %;
            padding-top: 10%;
            border-bottom: 2px solid red;
        }
        
        
        .BoxS{
            width: 100vw;
            height: auto;
            background: black;
        }
        
        .HBox{
            width: 100vw;
            height: auto;
            padding-bottom: 5vh;
            
            color: white;
            background: #ff0034d9;
        }
        
        .HBox h1{
            padding: 5% 10%;
            border-bottom: 1px solid black;
            font-size: 2vh;
        }
             
           .Blist{
               padding-left: 10%;
               padding-top: 5%;
               font-size: 1vh;
           }  
             
             
        
        
        .BoxS h2{
            margin-bottom: 6%;
            padding-bottom: 6%;
            padding-left: 10%;
            padding-top: 10%;
            color: white;
            border-bottom: 2px solid red;
        }
        
        
        
        
        
        
        
        
        
        .footer {
    
    overflow: hidden;
    z-index: 3;
    border-top: 1px solid white;
    width: 100%;
    background: black;
    font-family: 'Play', sans-serif;
}

.rowOne {
    display: flex;
    gap: 2vw;
    justify-content: center;
    padding: 1vh 0vw 1vh 0vw;
}

.footer i{
    margin: 6% 1%;
    padding: 1vh 2vw;
    color: gray;
    text-decoration: none;
    font-size: 2vh;
    transition: 1s;
}

.footer i::after {
    content: '';
    display: block;
    width: 0;
    position: relative;
    left: -25%;
    margin-top: 1vh;
    height: 2px;
    background: white;
    transition: width 0.5s;
}

.footer i:hover::after {
    width: 150%;
}

.footer i:hover {
    color: white;
}

.rowTwo {
    display: flex;
    justify-content: space-around;
}

.rowTwo a {
    transition: 1s;
    margin-bottom: 2%;
    color: gray;
    text-decoration: none;
    position: relative;
    left: 10%;
    font-size: 1vh;
}

.rowTwo a:hover {
    color: white;
}

.rowThree {
    text-align: center;
    display: block;
    font-size: 1%;
    color: gray;
}



    
